* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

header {
    background-image: linear-gradient(to bottom left, rgb(85, 75, 75) 15%, rgb(199, 187, 187));
    width: 100%;
    padding: 1% 10%;
    font-size: 20pt;
}

header > nav {
    width: 100%;
    position: sticky;
    top: 0;
}

header > nav > ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

header > nav > ul > li {
    line-height: 1.3rem;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: black;
    line-height: 2.5rem;
    font-size: 1.5rem;
    transition: all 300ms;
    display: block;
}

header > nav > ul > li > a:hover {
    font-size: 1.8rem;
    color: rgb(84, 170, 173);
    transition: all 500ms;
}

.banner {
    position: relative;
    display: inline-block;
}

.banner > img {
    width: 600px;
    height: auto;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}

.ant-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

section {
    width: 98%;
    margin: 1% auto;
    background-image: linear-gradient(to bottom left, black, #f5f3f0f8 17%);
    border: 3px solid rgb(43, 40, 40);
    border-radius: 5px;
    padding: 1% 3% 2%;
}

section > h2 {
    font-size: 1.6rem;
    font-weight: bold;
}

.lista_produtos {
    display: flex;
    flex-wrap: wrap;
}

.lista_produto_item {
    width: 15%;
    margin: 1% 5% 2%;
    text-align: center;
    border: 1px solid black;
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    box-shadow: 3px 2px 2px black, 6px 5px 6px blueviolet;
}

.lista_produto_item > h3 {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
}

.lista_produto_item:hover {
    box-shadow: 5px 4px 4px black, 10px 9px 10px red;
}

.nome_produto {
    text-align: left;
}